body{
    margin:48px;
}
.section-first-div{

    display: flex;
    align-items: center;


}
.section-first-div div.foto{
flex: 1;
padding: 46px;

}



.section-first-div div.foto img{
 max-width: 100%;
 border:1px solid #333333;
}


.section-first-div div.texto{
flex: 1;
padding: 16px;

}


