//lessc src/less/main.less  css/main.css



body {
    margin: 0;
    background-color: #cccccc;
    color: #222222;

}

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #999999;

    >div {
        width: 100%;
        height: 0;
        overflow: hidden;
        user-select: none;
        position: relative;

        transition: all 1.5s ease-in-out;
        opacity: 0.1;


        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
            transform: scale(1.2, 1.5);
            transition: transform 3s;
            user-select: none;
        }

        .txt {
            transform: scale(0.3, 0.3) translateY(0px);
            position: absolute;
            top: 60px;
            opacity: 0;
            transition: all 2s;
            text-align: right;
             right: 40px;
            background-color: #00000044;
            padding: 12px 24px;
 letter-spacing: 1px;
            h2 {
                color: white;
                font-size: 24px;
                display: inline-block;
             font-weight: 200;
            }

        }


        &.opened {
            height: 100%;
            transition: all 1.5s ease-in-out;
            opacity: 1;

            img {
                transform: scale(1, 1);
                transition: transform 3s;
            }

            .txt {
                transform: scale(1, 1) translateY(0px);
                opacity: 1;
                transition: all 2s;
            }
        }



        .subslides {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;

            .subslidesLine>div {

                width: 100vw;
                height: 100vh;
                overflow: hidden;
                user-select: none;
                position: absolute;
                top:0;left:0;right: 0;bottom:0;
                display: inline-block;
                transition: opacity 1.5s ease-in-out;
                opacity: 0;


                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform: scale(1.1, 1);
                    transition: transform 1.5s;
                    user-select: none;
                }

                .txt {
                    top: auto;
                    bottom:46px;
     

                    h2 {
                        color: white;
                        font-size: 32px;
   
                    }

                }


                &.opened {
 
                    transition: opacity 1.5s ease-in-out;
                    opacity: 1;

                    img {
                        transform: scale(1, 1);
                        transition: transform 1.5s;
                    }

                     
                }

            }


        }


    }

    //



}

#prevSection,
#nextSection {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
    color: #9d00ff;
    font-size: 40px;
    cursor: pointer;
}

#prevSection {
    top: 0;
}

#nextSection {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;

}


.slider>div .subslides{
   .leftBut{
    left:20px;
 }
   .rightBut{
    right:20px;
    
}
}

.slider>div .subslides .subslidesLine {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;

    >div {
        display: inline-block;
        vertical-align: top;

    }
}

.slider>div .subslides>div.leftBut,
.slider>div .subslides>div.rightBut {
    width: auto;
    height: auto;
    position: absolute;
    top: 47%;
    font-size: 24px;
    cursor: pointer;
    color: rgb(157, 0, 255);
    display: inline-block;
    opacity: 0.8;
    transform: scale(1, 2);
    z-index: 200;
    font-weight: 600;

    &:hover {
        opacity: 1;
    }
}

.slider>div .subslides>div.leftBut {
    left: 20px;
}

.slider>div .subslides>div.rightBut {
    right: 20px;

}